# gdspx specific ignores
/.godot
/.import
/.builds
/engine
/lib
/Makefile
/export.cfg
/export_presets.cfg
*.translation
/.mono
/data_*
/mono_crash.*.json


# user specify ignores
# ...
/assets/**/*.import
/builds
/output
/build